/*incorporo reglas fundamentales para hacer web*/
* {
    box-sizing: border-box;
}
body {
    margin: 0%;
    padding: 0%;
}

.verde {
    background-color: green;
}

.morado {
    background-color: blueviolet;

}

.rosado {
    background-color: pink;
    
}
.altura1 {
    height: 400px;
}
.altura2 {
    height: 50px;
}

.violeta {
    background-color: blueviolet;
}

.amarillo {
    background-color: yellow;
}